/* 设置整个页面的背景颜色 */
body {
    background-color: #E6E6F8;
    margin: 0;
    font-family: Arial, sans-serif;
}

body::before{
    display: block;
    content: '';
    height: 66px;
}

.text-primary {
    color: #7c6495 !important;
}

.bg-dark {
    background-color: #2e2b40 !important;
}
